/*Global Styles*/
body {
	font-family: var(--main-font);
	background-color: var(--bg-primary);
}

.wrapper {
	min-height: calc(100vh - 35px);
	max-width: 960px;
	margin: 0 auto;
	padding: 75px 25px; 
}

/*Font Styles*/
h1 {
	font-size: 1.625rem;
	font-weight: 700;
	color: var(--heading-primary);
}

	.article-content__box p {
	font-size: 0.8125rem;
	font-weight: 500;
	color: var(--text-primary);
}

.author-name__text {
	font-size: 0.8125rem;
	font-weight: 700;
	color: var(--heading-primary);
	display: block;
}

.article-date__text {
	font-size: 0.8125rem;
	font-weight: 500;
	color: var(--text-secondary);
	display: block;
}

.popup__box a {
	color: var(--text-secondary);
	text-transform: uppercase;
	padding-right: 20px;
	letter-spacing: 0.3rem;
}

/*Article Section*/
.article__holder {
	background-color: var(--bg-secondary);
	border-radius: 20px;
	overflow: hidden;
} 

.article-image__box {
	background-image: url("img/drawers.jpg")
	background-size: cover;
	background-repeat: no-repeat;
	min-height: calc(40vh - 110px);
}

.article-content__box {
	min-height: calc(50vh - 110px);
	padding: 50px 30px 20px;
}

.article-information__box {
	min-height: calc(10vh - 110px);
	display: flex;
	align-items: center;
}

.author-info__holder {
	padding-left: 20px;
}

.author-image__holder img {
	width: 40px;
	border-radius: 90px;
}

.some-button {
	margin-left: auto;
	z-index: 2;
}

.some-button button {
	background-color: var(--bg-primary);
	padding: 5px;
	border-radius: 90px;
}

.some-button button:active {
	background-color: var(--text-primary);
}


/*Share Button Section*/
.article-information__box {
	position: relative;
	padding: 30px;
}

.article-information__box .popup__box {
	visibility: hidden;
	background-color: var(--heading-primary);
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-left: -30px;
	padding: 30px;
}

.article-information__box .active {
	visibility: visible;
}


/*Footer Section*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    padding: 10px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}

/*Media Queries*/
@media screen and (min-width: 769px) {

}


