/*Global Styles*/
body {
	font-family: var(--main-font);
	background-color: var(--bg-primary);
	display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
	min-height: calc(100vh - 35px);
	max-width: 860px;
	margin: 0 auto;
	margin: 75px 25px; 
}

/*Font Styles*/
h1 {
	font-weight: 700;
	color: var(--heading-primary);
}

.article-content__box p {
	font-size: 0.8125rem;
	font-weight: 500;
	color: var(--text-primary);
}

.author-name__text {
	font-size: 0.8125rem;
	font-weight: 700;
	color: var(--heading-primary);
	display: block;
}

.article-date__text {
	font-size: 0.8125rem;
	font-weight: 500;
	color: var(--text-secondary);
	display: block;
}

.popup__box a {
	color: var(--text-secondary);
	text-transform: uppercase;
	padding-right: 20px;
	letter-spacing: 0.3rem;
}

/*Article Section*/
.article__holder {
	background-color: var(--bg-secondary);
	border-radius: 20px;
} 

.article-image__box {
	background-image: url("img/drawers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: calc(40vh - 110px);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.article-content__box {
	min-height: calc(50vh - 110px);
	padding: 40px 30px 20px;
}

.author-info__holder {
	padding-left: 20px;
}

.author-image__holder img {
	width: 40px;
	border-radius: 90px;
}

.some-button {
	margin-left: auto;
	z-index: 2;
}

.some-button button {
	background-color: var(--bg-primary);
	padding: 5px;
	border-radius: 90px;
}

.some-button button:active {
	background-color: var(--text-primary);
}


/*Share Button Section*/
.article-information__box {
	position: relative;
	padding: 30px 40px;
	min-height: calc(10vh - 110px);
	display: flex;
	align-items: center;
}

.article-information__box .popup__box {
	visibility: hidden;
	background-color: var(--heading-primary);
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-left: -40px;
	padding:30px 40px;
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.article-information__box .active {
	visibility: visible;
}


/*Footer Section*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    padding: 10px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}

/*Media Queries*/
@media screen and (min-width: 769px) {
	main {
	min-height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
	}

	.wrapper {
		min-height: unset;
		margin: 75px 125px;
	}

	.article-image__box {
		height: 332px;
		float: left;
		width: 35%;
		margin-right: 40px;
		min-height: unset;
		border-bottom-left-radius: 20px;
		border-top-right-radius: unset;
	}
	
	.article-content__box {
		height: 260px;
		min-height: unset;
	}

	.article-information__box {
		padding: 0px 40px 30px 0px;
		min-height: calc(10vh - 40px);
	}

	h1 {
		font-size: 1.320rem;
		padding-bottom: 20px;
	}

	.article-information__box .popup__box {
		justify-content: center;
		height: unset;
		width: 300px;
		bottom: 125%;
		left: 90%;
		margin-left: -150px;
		border-radius: 10px;
		padding: 10px;
	}

	.article-information__box .popup__box::after {
		content: "";
  		position: absolute;
 		top: 100%;
  		left: 50%;
  		margin-left: -10px;
  		border-width: 8px;
  		border-style: solid;
  		border-color: var(--heading-primary) transparent transparent transparent;
	}
}


